img {
    border: 1px solid black;
    display: block;
    height: 200px;
    width: auto;
}


.big {
     height: 300px;
    width: auto;
}

.small {
    
    height: 200px;
    width: auto;
}
