img {
    border: 1px solid black;
    display: block;
}


.grey {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.color {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
